@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--var-open_sans), sans-serif;
}

:root {
  --var-open_sans: 'Open Sans', sans-serif;
  --var-inter: 'Inter', sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
  overflow-x: hidden !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}